 
.main-container .data-table .label {display: table-cell;}
.main-container .radio, .main-container .checkbox {display: inline-block; margin-top: 0;}
@media (min-width: 1200px) { 
   .container {
    
  }
}
@media only screen and (min-width: 768px) {
    span.toggle {display: none;}
    .footer-col-content,
    .block .block-content,
    .box-collateral-content { text-align:left;
       font-size:12px !important;
      display: block !important;
      opacity: 1!important;
    }
}


