/*@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {

*/
.comi{float:none; border:none; box-shadow:none; width:auto; margin:0;}

@media 
	only screen and (max-width: 760px),
	(min-device-width: 768px) and (max-device-width: 1024px)  {
 .tab{ width: 100%;}
 .tablewidth{ width: 100%;}
 .tablewidth1{ width: 100%;}
 .empty{ height: 30px; width: 100%;}
 
		table, thead, tbody, th, td, tr { 
			display: block;  border:none !important;
		}  
		/* Hide table headers (but not display: none;, for accessibility) */
		thead tr { 
			
		} 
		tr { padding:0 !important; clear:both }
		   
		
		td { 
			/* Behave  like a "row" */
			   
		  width:100%;
			 
		 
		}
		
		td:before { 
			/* Now like a table header */
			 
			/* Top/left values mimic padding */
		 
			width: 100%; clear:both;  	 
			white-space: nowrap; 
		}
		
		/*
		Label the data
		*/
		td:nth-of-type(1):before {   }
		td:nth-of-type(2):before {  }
		td:nth-of-type(3):before {  }
		td:nth-of-type(4):before { }
		td:nth-of-type(5):before {  }
		td:nth-of-type(6):before {  }
		td:nth-of-type(7):before {  }
		td:nth-of-type(8):before { }
		td:nth-of-type(9):before {  }
		td:nth-of-type(10):before { }
	}
	
	/* Smartphones (portrait and landscape) ----------- */
	@media only screen
	and (min-device-width : 320px)
	and (max-device-width : 480px) {
		 
	/* iPads (portrait and landscape) ----------- */
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		 
	}
	